@import "../../global.scss";

.topbar {
width: 100%;
height: 70px;
background-color: white;
color: $mainColor;
position: fixed;
top: 0; 
z-index: 3;
transition: all 1s ease; //color transition smooth 

    .wrapper{
        padding: 10px 30px;
        display: flex; // flexbox
        align-items: center;
        justify-content: space-between;
    

    .left {
            display: flex;
            align-items: center;

        .logo {
            font-size: 40px;
            font-weight: 700;
            text-decoration: none;
            color: inherit; //inherits color from .topbar class
            margin-right: 40px;
        }
        .itemContainer {
            display: flex;
            align-items: center;
            margin-left: 30px;

            .icon {
                font-size: 18px;
                margin-right: 5px;
            }
            span {
                font-size: 15px;
                font-weight: 500;
              }
          }
      }
      .right {

            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer; // mouse points at it

                span {
                    width: 100px;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
      }
    }
    &.active{ // if using the class active navbar will be blue
        background-color: $mainColor;
        color: white;

        .hamburger {
            span{ 
                // child is for the lines on the corner 
                &:first-child {
                    background-color: white;
                  transform: rotate(45deg);
                }
                &:nth-child(2) { //dont want to see this one
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                   transform: rotate(-45deg);
                   

                }
            }
        }
    }
}