.resume {
background-color: white;
color: #15023a;
 display:flex;
 flex-direction: column;
 align-items: center;
}

.container { 
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    .btn {
         cursor: pointer;
         background: white;
    }
}